@font-face{
  font-family: Roboto;
  src: url(Roboto-Bold.ttf);
}
div{
  top: 5%;
  margin-top: 0%;
  background-color: firebrick;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0;
}
.head{
  font-size: 60px;
  text-align: center;
  color: aqua;
  font-family: Roboto;
  text-decoration: underline;
}
