@font-face{
    font-family: Roboto;
    src: url(Roboto-Bold.ttf);
  }
div{
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 95%;
    top: 0%;
    background-color: black;
    min-height: 45px;
}
a{
    color: white;
    padding: 100px 16px;
    font-family: Roboto;
    font-size: 40px;
    vertical-align: middle;
    text-decoration: none;
}