<div class="main">
    <h1>Das ist die Home Seite von Tod für die Weld (TFDW)</h1>
    <h2>Das ist das tolle Tod für die Weld Team</h2>
    <div class="content">
      <div class="Hans">
        <img src="assets/CEO.png" width="200" height="200">
        <p>Hallo ich bin Hans und ein wichtiger Treil des Tod für die Welt Teams</p>
      </div>
      <div class="Dieter">
        <img src="assets/CEO.png" width="200" height="200">
        <p>Hallo ich bin Peter und ein wichtiger Treil des Tod für die Welt Teams</p>
      </div>
      <div class="Fred">
        <img src="assets/CEO.png" width="200" height="200">
        <p>Hallo ich bin Fred und ein wichtiger Treil des Tod für die Welt Teams</p>
      </div>
      <div class="Peter">
        <img src="assets/CEO.png" width="200" height="200">
        <p>Hallo ich bin Dieter und ein wichtiger Treil des Tod für die Welt Teams</p>
      </div>
      <div class="Olaf">
        <img src="assets/CEO.png" width="200" height="200">
        <p>Hallo ich bin Olaf und ein wichtiger Treil des Tod für die Welt Teams</p>
      </div>

    </div>
</div>
